<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<h1>Formulario de registro de Club Python Django</h1>
<div>

    numero de personas registradas: {{no_personas}}


</div>
<div>
    <a href="nueva_persona">Agregar persona</a>
</div>
<div>
    <

    <table border="1">
        <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>

        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}} {{persona.apellido}}</td>
            <td>{{persona.email}}</td>


        </tr>




        </tbody>

    </table>



</div>

</body>
</html>
